
<body class="wrapper">
<div>
  <button mat-flat-button color="basic" [routerLink]="[route.EDIT]" class="button">Edit</button>
  <button mat-flat-button color="basic" (click)="remove(profile[profileInfoEnum.id]!)" class="button">Delete</button>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>language</mat-icon>
      <div mat-line>{{profile[profileInfoEnum.name]}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>description</mat-icon>
      <div mat-line>{{profile[profileInfoEnum.surname]}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>room</mat-icon>
      <div mat-line>{{profile[profileInfoEnum.location]}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>date_range</mat-icon>
      <div mat-line>{{profile[profileInfoEnum.numberOfProjectsCompleted]}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>check_circle</mat-icon>
      <div mat-line>{{profile[profileInfoEnum.yearsOfExperience]}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>euro_symbol</mat-icon>
      <div mat-line>{{profile[profileInfoEnum.recentCompletedProject]}}</div>
    </mat-list-item>
  </mat-list>
</div>
