
<h1 mat-dialog-title> Add profile information</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="post()" >
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput [formControlName]="profileInfoEnum.name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Surname</mat-label>
    <input type="text" matInput [formControlName]="profileInfoEnum.surname">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input type="text" matInput [formControlName]="profileInfoEnum.location">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Number of projects completed</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0"  [formControlName]="profileInfoEnum.numberOfProjectsCompleted">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Years of experience</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0"  [formControlName]="profileInfoEnum.yearsOfExperience">
  </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Recent completed project</mat-label>
      <input matInput type="text" [formControlName]="profileInfoEnum.recentCompletedProject">
    </mat-form-field>
  </form>
</div>
  <div mat-dialog-action [align]="'end'">
    <button mat-flat-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 10px" mat-flat-button color="primary" (click)="addProfile()">{{actionButton}}</button>
  </div>
