header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: darkslategrey;
}
.wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

button {
  font-size: 20px;
  color: white;
  margin-right: 20px;
  display: inline;
  background-color: darkslategrey;
}
nav {
  display: flex;
  justify-content: flex-end;

}
img{
  width: 50px;
  height: 50px;
  margin-right: 700px;
}
button:hover {
  background-color: white;
  color: darkslategrey;
  transition: background-color 0.2s ease-in;
}
