  <section id="firstSection">
    <h1 id="heading">CONTACT US</h1>
    <h2>Our team of customer support is ready to hear from you.</h2>
  </section>
  <body>
    <section>
      <h2>Reach out to us!</h2>
      <p>Are you interested in partnering with us?</p>
      <p>Have some suggestions or just want to say hi? </p>
      <p>Contact us!</p>
      <section id="photos">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="facebook">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Twitter-logo.svg" alt="twitter">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="instagram">
      </section>
    </section>
    <div id="right">
      <h2>Customer support</h2>
      <div class="container">
      <img style="height: 150px; margin-right: 20px" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Ismar" class="images">
      <h3>Ismar Becirspahic</h3>
      </div>
      <div class="container">
      <img style="height: 150px; margin-right: 20px" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Lejla" class="images">
      <h3>Lejla Djapo</h3>
      </div>
    </div>
</body>
