<form [formGroup]="form" (ngSubmit)="post()" >
  <h1>Post a new work opportunity</h1>
  <div>
    <mat-form-field floatLabel="auto">
      <mat-label>Name of the project</mat-label>
      <input type="text" matInput [formControlName]="projectsInfo.name">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field floatLabel="always">
      <mat-label>Description</mat-label>
      <textarea type="text" matInput [formControlName]="projectsInfo.description"></textarea>
    </mat-form-field>
  </div>

  <div> <mat-form-field floatLabel="always">
    <mat-label>Preferred location</mat-label>
    <input matInput [formControlName]="projectsInfo.location">
  </mat-form-field>
  </div>

  <div>
    <mat-form-field floatLabel="always">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input matStartDate placeholder="Start date" [formControlName]="projectsInfo.startDate">
        <input matEndDate placeholder="End date" [formControlName]="projectsInfo.endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="basic" matDateRangePickerApply>Apply</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field floatLabel="always">
      <mat-label>Price</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0"  [formControlName]="projectsInfo.price">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
  </div>

  <div>
    <button type="submit" mat-flat-button color="basic">Post</button>
  </div>
</form>
