<body class="wrapper">
      <div *ngFor="let project of projects">
        <div id="project">
          <div [routerLink]="[route.SEPARATOR, route.PROJECTS, project[projectInfo.id]]">
            {{project.name}}
          </div>
          <button mat-flat-button type="button"
                  class="button"
                  color="basic"
                  (click)="remove(project[projectInfo.id]!)">Delete
          </button>
        </div>
      </div>
    <div>
      <p>Do you want to create a project?</p>
    </div>
    <button mat-flat-button color="basic" class="button"
            [routerLink]="[route.SEPARATOR, route.PROJECTS, route.CREATE]">Create
    </button>
</body>

