form {
  margin: 0 auto;
  text-align: center;
}
mat-form-field {
  border: 1px solid darkslategray;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}
button {
  border-radius: 10px;
  margin-top: 15px;
}
.button {
  background-color: darkslategrey;
  color: white;
}
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
