.button {
  background-color: darkslategrey;
  color: white;
}
.wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
#creating {
  margin-bottom: 30px;
}
#project {
  margin-top: 50px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
}
