<mat-card>
  <mat-card-content>
    <div class="header">
      <h1>Sign up</h1>
    </div>
    <form (ngSubmit)="post()" name="loginForm" [formGroup]="loginForm">
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            type="email"
            matInput
            placeholder="Email" required
          />
          <mat-error *ngIf="!loginForm.controls['email'].valid">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid" >
            Please provide a valid email address
            </mat-error>
        </mat-form-field>
      </div>
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            formControlName="username"
            type="text"
            matInput
            placeholder="Username" required
          />
          <mat-error *ngIf="!loginForm.controls['username'].valid">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                   [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>
          <mat-error *ngIf="loginForm.controls['password'].touched" >
            Password must be min 6 characters long
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button class="button" [disabled]="loginForm.invalid">Sign up</button>
    </form>
    <div class="sign-up">
      <div class="register">
        <p>
          Already registered?
        </p>
        <a [routerLink]="'/authenticate'">Log in</a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
