.content {
  padding: 16px;
  width: 1100px;
  margin: 0 auto;
}

.content > mat-card {
  width: 200px;
}
.button {
  background-color: darkslategrey;
  color: white;
  display: inline;
}
.moveRight {
  margin-left: 15px;
}
.buttonRight {
  margin: 5px 0 0 15px;
}
