<mat-card>
  <mat-card-content>
    <div class="header">
      <h1>Login</h1>
    </div>
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <div class="usernameInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            formControlName="username"
            type="text"
            matInput
            placeholder="Username" required
          />
          <mat-error *ngIf="!loginForm.controls['username'].valid">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                   [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary">Login</button>
    </form>
    <div class="sign-up">
      <div class="register">
        <p>
          Not registered?
        </p>
        <a [routerLink]="'/sign-up'">Sign up</a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
