<body class="wrapper">
<div *ngFor="let profile of profiles">
  <div id="profile">
    <div [routerLink]="[route.SEPARATOR, route.PROFILES, profile[profileInfoEnum.id]]">
      {{profile.name}}
    </div>
    <button mat-flat-button type="button"
            class="button"
            color="basic"
            (click)="remove(profile[profileInfoEnum.id]!)">Delete
    </button>
  </div>
</div>
<div>
  <p>Add your profile information </p>
</div>
<button mat-flat-button color="basic" class="button"
        [routerLink]="[route.SEPARATOR, route.PROFILES, route.CREATE]">Add
</button>
</body>
