<body>
<div class="search-section">
  <div class="wrapper">

  <div class="search">
    <input type="text" placeholder="Search">
    <div class="filter"><img src="https://iconarchive.com/download/i89208/icons8/ios7/Very-Basic-Filter-Filled.ico" alt="filter"></div>
  </div>

</div>
  <div class="image-text">
    <h1 style="font-size:50px">Looking for someone to create you a website?</h1>
    <h3>You came to the right place</h3>
    <button mat-raised-button color="basic" [routerLink]="'/log-in'" >Get started</button>
  </div>
</div>

</body>
