<div *ngIf="user">
<mat-card class="full-width" appearance="outline">
  <h2>First name</h2>
  <h3>{{user.firstName}}</h3>
  <button mat-raised-button class="button">Edit</button>
</mat-card>
<mat-card class="full-width" appearance="outline">
  <h2>Last name</h2>
  <h3>{{user.lastName}}</h3>
  <button mat-raised-button class="button">Edit</button>
</mat-card>
  <mat-card class="full-width" appearance="outline">
  <h2>Username</h2>
  <h3>{{user.username}}</h3>
</mat-card>
  <mat-card class="full-width" appearance="outline">
  <h2>Email</h2>
  <h3>{{user.email}}</h3>
</mat-card>
</div>
